* {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto;
}

.container {
  background: #337AB7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  padding: 20px 15px;
  width: 350px;
}

.container__title {
  font-size: 30px;
  text-align: center;
}

.container__subtitle_diff, .container__subtitle_hits {
  font-size: 20px;
  padding: 10px 0 5px;
}

.container__subtitle_hits {
  display: inline-block;
}

.container__btn {
  outline: none;
  border: none;
  background: #fff;
  width: 100%;
  height: 20px;
  cursor: pointer;
}

/* RADIO */
.r-all {
  background: #F6F7F7;
  border: solid 2px #BFE2FF;
  border-radius: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.r-all .r-group {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFF;
  border: 1px solid #DDD;
  border-radius: 10px;
  -webkit-transition: background .2s ease;
  -o-transition: background .2s ease;
  transition: background .2s ease;
}

.r-all .r-group input {
  opacity: 0;
  position: absolute;
}

.r-all .r-group input + label {
  border-radius: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  padding: 10px 0;
  position: relative;
  text-align: center;
  -webkit-transition: color .4s ease;
  -o-transition: color .4s ease;
  transition: color .4s ease;
  cursor: pointer;
}

.r-all::before {
  background: #337AB7;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
  color: #FFF;
  content: "";
  display: block;
  height: calc(100% - 20px);
  position: absolute;
  top: 10px;
  left: 10px;
  -webkit-transform: translateX(calc((100% + (10px * 2)) * (var(--options-active) - 1)));
      -ms-transform: translateX(calc((100% + (10px * 2)) * (var(--options-active) - 1)));
          transform: translateX(calc((100% + (10px * 2)) * (var(--options-active) - 1)));
  -webkit-transition: -webkit-transform cubic-bezier(0.8, 0.34, 0.28, 1.15) 0.35s;
  transition: -webkit-transform cubic-bezier(0.8, 0.34, 0.28, 1.15) 0.35s;
  -o-transition: transform cubic-bezier(0.8, 0.34, 0.28, 1.15) 0.35s;
  transition: transform cubic-bezier(0.8, 0.34, 0.28, 1.15) 0.35s;
  transition: transform cubic-bezier(0.8, 0.34, 0.28, 1.15) 0.35s, -webkit-transform cubic-bezier(0.8, 0.34, 0.28, 1.15) 0.35s;
  width: calc((100% - ((var(--options)*10px)*2)) / var(--options));
}

.r-all .r-group input:checked + label {
  color: #FFF;
}

.r-all .r-group:hover {
  background: #BFE2FF;
  border: 1px solid #BFE2FF;
}

/* CHECKBOX */
*, *:before, *:after {
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.checkbox-label {
  display: inline-block;
  background: #f3f3f3;
  height: 20px;
  width: 50px;
  border-radius: 50px;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0 0 0 2px #dddddd;
          box-shadow: 0 0 0 2px #dddddd;
}

.checkbox-label .on {
  display: block;
  position: absolute;
  left: 0;
  opacity: 1;
  min-width: 300px;
  line-height: 50px;
  opacity: 0;
  color: #13bf11;
}

.checkbox-label .off {
  display: block;
  position: absolute;
  z-index: 0;
  right: 100px;
  text-align: right;
  opacity: 1;
  min-width: 300px;
  line-height: 50px;
  opacity: 1;
  color: #bbbbbb;
}

.checkbox-label:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  background: white;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #dddddd;
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #dddddd;
}

.checkbox {
  position: absolute;
  left: -5000px;
}

.checkbox:checked + .checkbox-label {
  background: #13bf11;
  -webkit-box-shadow: 0 0 0 2px #13bf11;
          box-shadow: 0 0 0 2px #13bf11;
}

.checkbox:checked + .checkbox-label .on {
  left: 100px;
  opacity: 1;
}

.checkbox:checked + .checkbox-label .off {
  right: 0px;
  opacity: 0;
}

.checkbox:checked + .checkbox-label:before {
  left: 30px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #13bf11;
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #13bf11;
}
