$blue: #337AB7;
$orange: #e67928;

/* 
Четное / нечетное
Сумма всех цифр в числе
Произведение всех цифр в числе
Первое число Четное / нечетное
В числе есть цифра 342
Число делиться на 
*/

*{
   padding: 0;
   margin: 0;
   user-select: none;
   border: none;
   outline: none;
}
.container{
   position: absolute;
   left: 0;
   right: 0;
   top: 50%;
   transform: translate(0, -50%);
   background: $blue;
   border-radius: 5px;
   font-family: 'Poppins', sans-serif;
   margin: 0 auto;
   box-sizing: border-box;
   padding: 15px 15px;
   width: 400px;
   z-index: -11111;

}
button{
   display: block;
   width: 40%;
   height: 43px;
   cursor: pointer;
   border-radius: 5px;
   background: $orange;
   font-size: 20px;
}
button:hover{
   filter: brightness(0.9);
   transition: 0.2s;
}
button:disabled{
   opacity: 0.8;
   pointer-events: none;
}
::-webkit-scrollbar {
   width: 15px;
   border: 3px solid transparent;
}
 
::-webkit-scrollbar-track {
   background: none;
   border: 3px solid transparent;
}
 
::-webkit-scrollbar-thumb {
   background: $orange;
   border-radius: 20px;
   margin-right: 5px;
}
 
::-webkit-scrollbar-thumb:hover {
   background: #d76a1a;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb, 
::-webkit-scrollbar-thumb:hover {
   border: 5px solid rgba(255,255,255,0);
   background-clip: padding-box;
}

/* setting block */
.setting{
   display: block;
   height: 250px;
   transition: 0s;
   
   &__title{
      font-size: 30px;
      text-align: center;
      margin: 0;
   }
   &__subtitle{
      font-size: 20px;
      padding: 5px 0 5px;
   }
   &__subtitle:nth-child(7){
      position: absolute;
      bottom: 63px;
   }
   &__btn-start{
      position: absolute;
      bottom: 15px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 40%;
   }
}
.setting-full{
   height: 300px;
}
.setting-hidden{
   display: none;
}
/* difficulty */
.difficulty-block {
   background: $orange;
   border-radius: 5px;
   position: relative;
   display: flex;

   &__item {
   position: relative;
   margin: 5px auto;
   height: 33px;
   line-height: 2.2;
   display: flex;
   border-radius: 5px;
   transition: background 0.2s ease;
   }
   &__item:hover{
      background: #b95a15;
   }
   &__input:disabled + label{
      background: #fff;
      opacity: 0.2;
   }
}
.difficulty-block::before {
   content: "";
   z-index: 1;
   background: $blue;
   border-radius: 5px;
   color: #000;
   display: block;
   height: 33px;
   position: absolute;
   top: 5px;
   left: 6px;
   transform: translateX(calc((100% + 12.5px) * (var(--options-active) - 1)));
   width: 80px;
}
input[type=radio] {
   opacity: 0;
   position: absolute;
}
input[type=radio] + label {
   border-radius: 5px;
   flex: 1 1 100%;
   font-family: 'Poppins', sans-serif;
   font-size: 15px;
   margin: 0;
   width: 80px;
   position: relative;
   text-align: center;
   transition: color .4s ease;
   cursor: pointer;
   z-index: 111;
}
input:checked + label {
   color: #fff;
}
/*.lock-icon{
   display: none;
   position: absolute;
   left: 30px;
   top: -3px;
   color: #fff;
   font-size: 20px;
   z-index: 1111;
}
.lock{
   pointer-events: none;
} */


/* CHECKBOX */
*,*:before,*:after {
   transition: .25s ease-in-out;
}
.block-check{
   position: absolute;
   top: 133px;
   left: 130px;

   &__label {
      position: relative;
      display: block;
      background: #f3f3f3;
      height: 13px;
      width: 27px;
      border-radius: 50px;
      border: 2px solid #dddddd;
      cursor: pointer;

      &:before {
      content:'';
      display: block;
      position: absolute;
      top: -2px;
      left: -2px;
      border-radius: 50px;
      height: 13px;
      width:  13px;
      background: white;
      border: 2px solid #dddddd;
      }
   }
   &__input {
      position: absolute;
      opacity: 0;
      &:checked {
      + .block-check__label {
         background: $orange;
         border: 2px solid $orange;
         .on {
            float: right;
         }
         .off {
            right: 0px;
         }
         &:before {
            left: 12px;
            border: 2px solid $orange;
         }
      }
      }
   }
}

/* HITS  */
.hits-block{
   pointer-events: none;
   opacity: 0;
   transition: .3s;
   &::before {
      transform: translateX(calc((100% + 11.6px) * (var(--options-active) - 1)));
      left: 5.8px;
      width: 50px;
   }
}
.hits-block-full{
   opacity: 1;
   transition: .3s;
   pointer-events: all;
}
.hits-block__item input + label {
   width: 50px;
}

/* PLAY block */
.play{
   display: none;
   transition: 0s;
   &__input {
      display: block;
      width: 100%;
      height: 43px;
      color: #000;
      border-radius: 50px;
      font-size: 25px;
      padding: 15px 50px 15px 15px;
      box-sizing: border-box;
      background: $orange;
   }
   &__input:disabled{
      opacity: 0.5;

   }
   &__btn-submit {
      position: absolute;
      top: 53px;
      right: 20px;
      width:  33px;
      height: 33px;
      border-radius: 43px;
      background: $blue;
      font-size: 25px;
      line-height: 1.6;
      cursor: pointer;
   }
   &__btn-submit:disabled{
      background: #fff;
      opacity: 0.2;
   }

   &__btn-hit {
      display: none;
      margin: 10px auto 0;
      width: 50%;
      height: 43px;
      cursor: pointer;
      border-radius: 5px;
      background: $orange;
      font-size: 20px;
   }
   &__btn-hit-show{
      display: block;
   }

   &__box {
      width: 100%;
      height: 200px;
      background: rgba($color: #fff, $alpha: 0.5);
      margin: 10px 0 0;
      box-sizing: border-box;
      padding: 10px;
      overflow-y: scroll;
      border-radius: 5px;

      &_item{
         margin-top: 10px;
      }
      &_item:first-child{
         margin-top: 0px;
      }
   }

   &__hits-block {
      display: none;
      
      &_show{
         display: block;
      }
   }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

/* win-block */
.win-bg{
   display: none;
   width: 100%;
   height: 100vh;
   background: rgba($color: #000, $alpha: 0.8);
   z-index: 999999;
   transition: 0s;
}
.win-block {
   display: none;
   position: absolute;
   left: 0;
   right: 0;
   margin: 0 auto;
   z-index: 55555;
   padding: 20px 0;
   text-align: center;
   transition: 0s;
   
   &__btn-close{
      position: absolute;
      right: 0;
      top: 0;
      color: $orange;
      width:  35px;
      height: 35px;
      cursor: pointer;
   }
   &__btn-close:hover{
      filter: brightness(0.9);
      transition: 0.2s;
   }


   &__title {
      color: #fff;
      margin-bottom: 5px;
   }

   &__random-number {
      font-size: 25px;
      margin: 5px 0
   }

   &__attempts {
      margin: 20px 0 5px;
   }

   &__text {
      margin: 20px 0 0;
   }

   &__btn-restart {
      margin: 10px auto 0;
   }
}
