$text: white;
$Regular: 400;
$Bold: 700;

*{
   padding: 0;
   margin: 0;
   user-select: none;
   border: none;
   outline: none;
}

body{
   width: 100%;
   height: 100vh;
   background: linear-gradient(#FABE82 -20%, #03418A 110%);
}
.wrapper{
   position: absolute;
   left: 0;
   right: 0;
   margin: 0 auto;
   height: 100%;
   width: 430px;
   box-sizing: border-box;
}
.container{
   background: url(../bg.png);
   background-size: cover;
   background-position: top;
   margin: 0 auto;
   border-radius: 5px;
   font-family: 'Poppins', sans-serif;
   font-weight: $Regular;
   color: $text;
   box-sizing: border-box;
   padding: 10px 10px;
   width: 400px;
   box-shadow: 0 9px 21px rgba($color: #000, $alpha: 0.4);
}
.subtitle{
   text-align: left;
   font-size: 20px;
   padding: 7px 0;
   line-height: 1;
}
.subtitle:nth-child(1){
   padding: 0 0 10px;
}
.subtitle:nth-child(7){
   position: absolute;
   bottom: 53px;
}
button{
   display: block;
   width: 100%;
   height: 43px;
   margin: 0 auto;
   border-radius: 5px;
   background: rgba(255, 255, 255, 0.2);
   backdrop-filter: blur(3px);
   color: inherit;
   font-size: 20px;
   cursor: pointer;
   transition: 0.2s;
}
button:hover{
   filter: brightness(1.2);
   transition: 0.2s;
}
button:disabled{
   color: rgba(255, 255, 255, 0.2);
   pointer-events: none;
}
::-webkit-scrollbar {
   width: 15px;
   border: 3px solid transparent;
}
::-webkit-scrollbar-track {
   background: none;
   border: 3px solid transparent;
}
::-webkit-scrollbar-thumb {
   background: rgba(255, 255, 255,0.3);
   border-radius: 20px;
   margin-right: 5px;
}
::-webkit-scrollbar-thumb:hover {
   background: rgba(255, 255, 255, 0.6);
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb, 
::-webkit-scrollbar-thumb:hover {
   border: 5px solid rgba(255, 255, 255,0);
   background-clip: padding-box;
}

/* SETTING BLOCK */
.title{
   font-size: 30px;
   text-align: center;
   line-height: 1;
   padding-top: 5px;
}
.setting{
   display: block;
   position: absolute;
   left: 0;
   right: 0;
   top: calc(50% - 136px);
   height: 235px;
   opacity: 0;
   transition: .2s;
   
   &__btn-start{
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      width: 95%;
   }
}
.setting-full{
   height: 286px;
}
.setting-hidden{
   display: none;
}
/* difficulty */
.difficulty-block {
   background: rgba(255, 255, 255, 0.2);
   backdrop-filter: blur(3px);
   border-radius: 5px;
   position: relative;
   display: flex;

   &__item {
      display: flex;
      position: relative;
      margin: 5px auto;
      line-height: 2.2;
      height: 33px;
      border-radius: 5px;
      transition: 0.2s;
   }
   &__item:hover{
      background: rgba($color: #fff, $alpha: 0.2);
      transition: 0.2s;
   }
}
.difficulty-block::before {
   display: block;
   content: "";
   z-index: 1;
   position: absolute;
   top: 5px;
   left: 7.5px;
   background: rgba(255, 255, 255, 0.2);
   backdrop-filter: blur(3px);
   border-radius: 5px;
   height: 33px;
   width: 80px;
   transform: translateX(calc((100% + 15px) * (var(--options-active) - 1)));
   transition: .25s ease-in-out;
}
input[type=radio] {
   opacity: 0;
   position: absolute;
}
input[type=radio] + label {
   border-radius: 5px;
   flex: 1 1 100%;
   font-family: 'Poppins', sans-serif;
   font-weight: $Regular;
   font-size: 15px;
   width: 80px;
   position: relative;
   text-align: center;
   transition: color .4s ease;
   cursor: pointer;
   z-index: 111;
}


/* checkbox */
.block-check{
   position: absolute;
   top: 132px;
   left: 130px;

   &__label {
      position: relative;
      display: block;
      height: 13px;
      width: 27px;
      border-radius: 50px;
      border: 2px solid rgba(255, 255, 255, 0.2);
      cursor: pointer;
      transition: .25s ease-in-out;

      &:before {
      content:'';
      display: block;
      position: absolute;
      top:  0px;
      left: 0px;
      border-radius: 50px;
      height: 13px;
      width:  13px;
      background: rgba(255, 255, 255, 0.2);
      transition: .25s ease-in-out;
      }
   }
   &__input {
      position: absolute;
      opacity: 0;

      &:checked {
      + .block-check__label {    
         border: 2px solid rgba(255, 255, 255, 1);

         &:before {
            left: 14.5px;
            background: rgba(255, 255, 255, 1);
         }
      }
      }
   }
}

/* hits  */
.hits-block{
   pointer-events: none;
   opacity: 0;
   transition: .3s;
   &::before {
      transform: translateX(calc((100% + 13.5px) * (var(--options-active) - 1)));
      left: 6px;
      width: 50px;
   }
}
.hits-block-show{
   opacity: 1;
   transition: .3s;
   pointer-events: all;
}
.hits-block__item input + label {
   width: 50px;
}

/* PLAY BLOCK */
.play{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    display: none;

   &__input {
      display: block;
      width: 100%;
      height: 43px;
      color: inherit;
      border-radius: 5px;
      font-size: 25px;
      padding: 15px 50px 15px 15px;
      box-sizing: border-box;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(3px);
   }
   &__btn-submit {
      position: absolute;
      top: 45px;
      right: 15px;
      width:  33px;
      height: 33px;
      border-radius: 5px;
      backdrop-filter: blur(0px);
      font-size: 25px;
      line-height: 1.6;
   }
   &__btn-hit {
      display: none;
      margin: 10px auto 0;
   }
   &__btn-hit-show{
      display: block;
   }

   &__box {
      width: 100%;
      height: 200px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(15px);
      margin: 10px 0 0;
      box-sizing: border-box;
      padding: 0 10px;
      overflow-y: scroll;
      overflow-x: hidden;
      border-radius: 5px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      color: inherit;

      &_item{
         line-height: 1;
         margin-top: 10px;
      }
      &_item:first-child{
         margin-top: 0px;
      }
   } 
   &__hits-block {
      display: none;
      
      &_show{
         display: block;
      }
   }
   &__btn-endGame{
      display: inline-block;
      margin: 10px 0 0;
      width: 48.7%;
   }
   &__btn-endGame:last-child{
      margin-left: 5px;
   }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
input[type=number], input[type=number]:before, input[type=number]:after {
   user-select: auto;
  }
input::placeholder{
   color: rgba(255, 255, 255, 0.5);
}

/* PAST BLOCK */
.past-block-bg{
   position: relative;
   display: none;
   width: 100%;
   height: 100vh;
   background: rgba($color: #000, $alpha: 0.5);
   z-index: 11111;
}
.past-block {
   display: none;
   position: absolute;
   text-align: center;
   left: 0;
   right: 0;
   top: calc(50% - 100px);
   margin: 0 auto;
   padding: 10px 0;
   width: 400px;
   background: linear-gradient(#FABE82 -20%, #03418A 110%);
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
   z-index: 55555;

   &__title{
      padding-top: 5px;
      font-size: 25px;
      font-weight: $Regular;
   }
   &__random-number {
      font-weight: $Bold;
      line-height: 1;
      font-size: 30px;
      padding: 5px 0 5px;
   }
   &__attempts{
      font-size: 18px;
   }
   &__text {
      padding: 0 0 5px;
      font-size: 18px;
   }
   &__btn {
      width: 95%;
      margin: 0 auto;
   }
}